<div class="container">
	<h1>My books</h1>
	<hr>
	<% if(books.length) { %>
		<table class='table'>
			<tr>
				<th>Name</th>
				<th>Author</th>
				<th>Actions</th>
			</tr>
			<% for(var i=0; i < books.length; i++) { %>
			   <tr>
			     <td><%= books[i].name %></td>
			     <td><%= books[i].author %></td>
			     <td><a href="delete"><i class='fa fa-trash'></i></a></td>
			   </tr>
			<% } %>
		</table>
	<% } else { %>
		<p> no books yet
	<% } %>
	<hr>
	<form action='/book/create' method='post' class='form'>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<div class="row" style='background-color:#e6e6e6; padding: 10px;'>
			<div class="col">
	    	<label>Book name</label>
				<input type='text' class="form-control"  name='name' placeholder='name'>
			</div>
			<div class="col">
	    	<label>Author</label>
				<input type='text' class="form-control"  name='author' placeholder='author'>
			</div>

			<div class="col" style="padding-top:30px">
	    	
				<button type='submit' class="btn btn-primary">
					<i class="fa fa-book"></i>
					Add book
				</button>
			</div>
 		</div>
	</form>
</div>